<!DOCTYPE html>
<html>
{% block head %}
{% include "_head.html" with context %}
{% endblock head %}

  <body class="body">
    <section>
                    {% block nav %}
                        {% include "_nav.html" %}
                    {% endblock nav %}
    </section>
    <section class="body hero-image photo-back center" style="padding: 90px">

                    {% block content %}
                        {% if title == "login" %}
                        {% include "/auth/login.html" %}
                        {% elif title == "changepass" %}
                        {% include "/auth/changepass.html" %}
                        {% elif title == "register" %}
                        {% include "/auth/register.html" %}
                        {% elif title == "index" %}
                        {% include "/index.html" %}
                        {% elif title == "profile" %}
                        {% include "/profile.html" %}
                      {% endif %}
                    {% endblock content %}
    </section>
  <div class="container-fluid footer">
                     {% block footer %}
                        {% include "_footer.html" %}
                    {% endblock footer %}
  </div>
  </body>
</html>
  