{% extends "base.html" %}


{% block content %}

{% block body %}
<h1>Cookies and Sessions</h1>
<p>Cookie: {{cookie}}<br>Session: {{session}}</p>
<p>{{welcome}}</p>
<hr>
<form method="POST">
    <p><label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{username}}">
    </p>
    <p><label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </p>
    <input type="submit" id="log-in" name="log-in" value="Log In">&nbsp;
    <input type="submit" id="log-out" name="log-out" value="Log Out">&nbsp;
    <input type="submit" id="forget-me" name="forget-me" value="Forget Me">&nbsp;
    <input type="submit" id="reload" name="Reload" value="Reload">
</form>
   {% endblock body %}

    {% endblock content %}
