  {% extends "base.html" %}
    <h1>Create Account</h1>
    <form method="post" action="{{ url_for('create_account') }}" novalidate>
      {{ form.csrf_token }}
      <div>
        {{ form.username(placeholder='username',
                      autofocus='true',
                      type='username',
                      spellcheck='false') }}
        {% if form.username.errors -%}
        <span>{{ form.username.errors[0] }}</span>
        {%- endif %}
      </div>
      <div>
        {{ form.nickName(placeholder="Display Name") }}
        {% if form.nickName.errors -%}
        <span>{{ form.nickName.errors[0] }}</span>
        {%- endif %}
      </div>
      <div>
        {{ form.password(placeholder="Password") }}
        {% if form.password.errors -%}
        <span>{{ form.password.errors[0] }}</span>
        {%- endif %}
      </div>
      <div>
        {{ form.pinCode(placeholder="PIN Code") }}
        {% if form.pinCode.errors -%}
        <span>{{ form.pinCode.errors[0] }}</span>
        {%- endif %}
      </div>
      <button type="submit">Create account</button>
    </form>